[user]
	name = Nate
	email = nathanael.paul.lewis@gmail.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
